# Numerical libraries
numpy==1.26.4
scipy==1.16.1
python==3.11
# OpenCV for computer vision
opencv-contrib-python==4.11.0.86

# YOLO / Supervision
supervision==0.26.0
ultralytics==8.3.161

# Deep learning
torch==2.8.0

# Web dashboard
streamlit==1.48.1
