# Core dependencies
numpy==1.26.4
scipy==1.10.1

# OpenCV
opencv-contrib-python==4.11.0.86

# YOLO / Supervision
supervision==0.26.0
ultralytics==8.3.161

# PyTorch
torch==2.8.0

# Web dashboard
streamlit==1.42.1

